.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.product {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;    
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
    transition: transform 0.2s;
}
.product:hover {
    transform: scale(1.05);
    background: linear-gradient(145deg, #cbf3cb, #e9c3c3);
    box-shadow: 0 4px 20px rgba(255, 0, 0, 1);
}
.product-image {
    height: 100px;
   width: 200px;
    border-radius: 4px;
}
.product-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-price {
    font-size: 1em;
    color: #333;
}

.product-view {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-view:hover {
    background-color: #0056b3;
}